@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.8em;
  font-family: 'Raleway', sans-serif;
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  color: #ffffff;
  background-image: url('img/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

header section {
  margin: 0 auto;
  max-width: 50%;
}

header img {
  border-radius: 50%;
  max-width: 150px;
}

header h1 {
  text-transform: uppercase;
}

h1 {
  margin: 1em 0;
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
}

main {
  max-width: 1140px;
}

main section {
  border-bottom: 1px solid silver;
}

main section:last-child{
  border-bottom: none;
}

.course, .skills {
  display: flex;
  flex-wrap: wrap;
}

.course .title {
  font-weight: bold;
  color: #509e98;
  flex: 0 0 33.3%;
  max-width: 33.3%;
}

.course .description {
  flex: 0 0 66.6%;
  max-width: 66.6%;
}

.course .description p {
  padding-left: 1em;
  margin-top: 0;
}

.skills .column {
  flex: 0 0 50%;
  max-width: 50%;
}

.skills h4 {
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 10px;
}

ul li:before {
  content: "►";
  color: #29C6A6;
  padding-right: 0.5em;
}

.fa-bookmark:before {
  margin-right: 1em;
  color: #509e98;
}

.school span {
  color: #999999;
}

.projects a:link {
  color: black;
  text-decoration: none;
}

.projects a:visited {
  color: black;
  text-decoration: none;
}

.projects a:hover {
  color: black;
  text-decoration: underline;
}

footer {
 padding: 1em;
}
